<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz Out Admin</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon32.png') }}" sizes="32x32">
    <link rel="icon" href="{{ url_for('static', filename='favicon96.png') }}" sizes="96x96">
    <link rel="icon" href="{{ url_for('static', filename='favicon192.png') }}" sizes="192x192">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
    {% block header_include %}
    {% endblock %}
</head>

<body  data-bs-theme="dark">
    <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
    <div class="container-lg">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" role="navigation">
            <div class="contianer-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{{ url_for('main.index') }}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('auth.logout') }}" class="nav-link">Logout</a>
                        </li>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{{ url_for('auth.login') }}" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('auth.signup') }}" class="nav-link">Sign Up</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-lg d-flex flex-column justify-content-center align-items-center" style="min-height: 90vh;">

        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='bootstrap.bundle.js')}}"></script>
</body>

</html>