{% extends "base.html" %}

{% block header_include %}
{% endblock %}

{% block content %}
<div class="modal" tabindex="-1" id="playerBuzzedModal">
  <div class="modal-dialog modal-dialog-centered" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="text-center"><span class="text-primary-emphasis fw-bold" id="playerNameSpan">PlayerName</span> buzzed!</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="uiReady()">Cancel</button>
        <button type="button" class="btn btn-success" onclick="playerCorrect()">Correct</button>
        <button type="button" class="btn btn-danger" onclick="playerIncorrect()">Incorrect</button>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
    <h1 class="mb-4">QuizOut Admin</h1>

    <div class="mb-4">
        <p id="statusP"><span class="text-warning-emphasis">🛜 Connecting to server...</span></p>
        <p id="buzzerTimerP" class="fs-2 text-center d-none">0.0 sec</p>
    </div>

    <button id="activateBuzzersBtn" type="button" class="btn btn-primary d-inline-block mb-4" onclick="resetBuzzers([])" disabled>Activate All Buzzers</button>
    <br>

    <button id="timeoutBtn" type="button" class="btn btn-secondary d-inline-block mb-4" onclick="buzzerTimeout()">Timeout</button>
    <br>
</div>

<script src="{{ url_for('static', filename='socket.io.3.1.3.js') }}"></script>
<script type="text/javascript">
    const socket = io.connect('http://' + document.domain + ':' + location.port);

    let buzzerClientInfo = null;
    let lastPlayerKey = null;
    let buzzerTimer = null;
    let buzzerTimerMS = 0;
    let inactiveTeams = [];

    const playerBuzzedModal = new bootstrap.Modal(document.getElementById('playerBuzzedModal'));
    const playerNameSpan = document.getElementById('playerNameSpan');
    const activateButton = document.getElementById('activateBuzzersBtn')
    const statusP = document.getElementById('statusP');
    const buzzerTimerP = document.getElementById('buzzerTimerP');
    
    socket.on('connect', function () {
        socket.emit('adminClientConnected');
        console.log('Connected to the server');
        uiReady();
    });

    socket.on('response', function (data) {
        console.log('Server says: ' + data);
    });

    socket.on('updateBuzzerClient', function(data) {
        buzzerClientInfo = JSON.parse(data);
        console.log("updateBuzzerClient", buzzerClientInfo);
    });

    socket.on('playerAnswering', function(playerKey) {
        lastPlayerKey = playerKey;

        playerNameSpan.innerHTML = `Player ${playerKey}`;
        playerBuzzedModal.show();
        stopBuzzerTimer();
    });

    function uiReady() {
        activateButton.removeAttribute("disabled");
        playerBuzzedModal.hide();
        statusP.innerHTML = '💤 Buzzers Inactive';
    }

    function resetBuzzers(inactiveTeamsA) {
        const data = JSON.stringify({inactive_teams: inactiveTeamsA});
        inactiveTeams = inactiveTeamsA;
        socket.emit('resetBuzzers', data);
        startBuzzerTimer();
        activateButton.setAttribute("disabled", "");
    }

    function playerCorrect() {
        socket.emit('playerCorrect', lastPlayerKey);
        uiReady();
    }

    function playerIncorrect() {
        socket.emit('playerIncorrect', lastPlayerKey);
        playerBuzzedModal.hide();
        playerTeam = buzzerClientInfo['teamBuzzerInfo']['buzzerTeams'][lastPlayerKey];

        inactiveTeams.push(playerTeam);

        if (inactiveTeams.length < buzzerClientInfo['teamBuzzerInfo']['teams'].length) {
            startBuzzerTimer();
        } else {
            statusP.innerHTML = `
                <span class="text-danger-emphasis">❌ Each team gave an incorrect response to the last question.</span>
                <br>
                💤 Buzzers Inactive`;
            activateButton.removeAttribute("disabled");
        }
    }

    function buzzerTimeout() {
        socket.emit('buzzerTimeout');
        stopBuzzerTimer();
        uiReady();
    }

    function startBuzzerTimer() {
        buzzerTimerP.classList.remove('d-none');
        buzzerTimerP.innerHTML = `<span class="text-primary-emphasis">0.0 seconds</span>`;
        statusP.innerHTML = `
            <span class="text-primary-emphasis">
                <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
                </div>
                Waiting for players to buzz...
            </span>`;

        buzzerTimerMS = 0;
        buzzerTimer = window.setInterval(() => {
            buzzerTimerMS += 100;
            const buzzerTimerSeconds = buzzerTimerMS / 1000;
            let colorClass = "";

            if (buzzerTimerSeconds <= 10) {
                colorClass = 'text-primary-emphasis';
            } else if (buzzerTimerSeconds <= 20) {
                colorClass = 'text-warning-emphasis';
            } else {
                colorClass = 'text-danger-emphasis';
            }
            
            buzzerTimerP.innerHTML = `<span class="${colorClass}">${buzzerTimerSeconds.toFixed(1)} seconds</span>`;
            statusP.querySelector('span').classList = [colorClass]
        }, 100);
    }

    function stopBuzzerTimer() {
        window.clearInterval(buzzerTimer);
        buzzerTimerP.classList.add('d-none');
    }
    
</script>
{% endblock %}