{% extends "base.html" %}

{% block header_include %}
<style>
    .background-color-red {
        background-color: rgb(134, 8, 8);
        border-color: rgb(143, 67, 67);
        color: white;
    }
    .background-color-orange {
        background-color: rgb(194, 103, 60);
        border-color: rgb(177, 125, 101);
        color: white;
    }
    .background-color-yellow {
        background-color: rgb(253, 255, 109);
        border-color: rgb(218, 219, 155);
        color: rgb(0, 0, 0);
    }
    .background-color-green {
        background-color: rgb(5, 133, 16);
        border-color: rgb(100, 153, 104);
        color: white;
    }
    .background-color-blue {
        background-color: rgb(5, 29, 133);
        border-color: rgb(63, 73, 117);
        color: white;
    }
    .background-color-violet {
        background-color: rgb(98, 9, 134);;
        border-color: rgb(95, 68, 105);
        color: white;
    }
</style>
{% endblock %}

{% block content %}
<div class="modal" tabindex="-1" id="playerBuzzedModal">
    <div class="modal-dialog modal-dialog-centered" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="text-center"><span class="badge" id="playerNameSpan">PlayerName</span> buzzed!</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="uiReady()">Cancel</button>
                <button type="button" class="btn btn-success" onclick="playerCorrect()">Correct</button>
                <button type="button" class="btn btn-danger" onclick="playerIncorrect()">Incorrect</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="editBuzzerPlayersModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Edit Players</h1>
                <button type="button" class="btn-close" onclick="hideModal(editBuzzerPlayersModal)"></button>
            </div>
            <div class="modal-body">
                <form id="playersListFormContent">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  onclick="hideModal(editBuzzerPlayersModal)">Cancel</button>
                <button type="button" class="btn btn-success" onclick="submitPlayerNames()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="mb-4">Quiz Out Admin</h1>

    <div class="mb-4">
        <p id="statusP"><span class="text-warning-emphasis">🛜 Connecting to server...</span></p>
        <p id="buzzerTimerP" class="fs-2 text-center d-none">0.0 sec</p>
    </div>

    <div class="mb-4">
        <p>
            <span id="playersList"></span>
            <button id="editPlayersBtn" class="btn d-inline btn-sm btn-link align-baseline " onClick="editBuzzerPlayersModal.show()">
                Edit Player Names
            </button>
        </p>
    </div>

    <button id="activateBuzzersBtn" type="button" class="btn btn-primary d-inline-block mb-4" onclick="resetBuzzers([])" disabled>Activate All Buzzers</button>
    <br>

    <button id="timeoutBtn" type="button" class="btn btn-secondary d-inline-block mb-4" onclick="buzzerTimeout()">Timeout</button>
    <br>
</div>

<datalist id="playerNamesDatalist">
</datalist>

<script src="{{ url_for('static', filename='socket.io.3.1.3.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='admin.js') }}"></script>
{% endblock %}